node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.env.production
.nyc_output
coverage
.nyc_output
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
